.container{
    display: flex;
    justify-content: space-between; /* Distribute space between the items */
    align-items: flex-start; /* Align items to the start of the flex container */
    gap: 20px;
    padding: 20px;
    font-size: 1rem;
}

.titleHeader{
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: 150px;
}