.container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.list{
  padding: 20px; /* Padding inside the div */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
  width: 100%;
}

.list ul{
    list-style-type: none;
}